# Environments
.env
.venv
env/
venv/
ENV/
help.txt
# Data and Outputs (Keep directory structures, ignore contents)
datasets/*
!datasets/.gitkeep
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep
results/*
!results/.gitkeep
models/saved/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cu.o

# Python caches
__pycache__/
*.py[cod]